*{
    padding: 0;
    margin: 0;
}

.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
  }
  .card{
    color: black;
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    width:400px;
    /* height: 30%; */
    ;
  }

  .movie img{
    width: 170px;
    height: 200px;
    }