*{
    margin: 0px;
    padding: 0px;
}
.main-page{
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}
.header{
   background: linear-gradient(#fad7d7,#887878);
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 5vh;
   
}
.backarrow{
    font-size: 20px;
    margin-left: 10px;
}
.header  h4{
    float: right;
    text-decoration: none;
    color: black; 
    margin-left: 30px;
    

}
.cart-icon {
    font-size: 20px;
    margin-right: 50px;

}


.cart-section{
    /* background-color: rgb(240, 251, 251); */
    width: 100%;
    height: 80vh; 
    padding-top: 3%;   

}
.shopped-items{
    background: linear-gradient(#fad7d7,#887878);
    margin-top: 15px;
    
}
.items-container{
    height: 75vh;
    /* overflow-y: scroll; */
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
.item-img img{
    padding-top: 5%;
    width: 150px;
    height: 20vh;
}

.quantity input{
    width: 15%;
    height: 2.5vh;
    text-align: center;
}
.quantity button{
    width: 10%;
    cursor: pointer;
}
.save-later-btn{
    height: 3vh;
    width: 100%;
    border-radius: 5%;
    color: blue;
}
.total{
    float: right;
    margin-right: 30px;
    padding-bottom: 5%;
    padding-top: 3%;
    
}
.total h4{
    font-size: 25px;
    padding-bottom: 3%;
}
.place-order-btn{
    width: 100%;
    height: 6vh;
    text-align: center;
    background-color: rgb(160, 14, 14);

}