.header{
    background-color: rgb(233, 238, 239);  
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 }
 .header  h4{
     float: right;
     text-decoration: none;
     color: black; 
     
 }
 
 .address{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(233, 238, 239); 
    
 }
 .cart-icon {
     padding-right: 30px;
 
 }
 .change-btn{
     border-radius: 10px;
     width: 80px;
     height: 5vh;
     color: blue;
 }
 
 .cart-section{
     /* background-color: rgb(240, 251, 251); */
     width: 100%;
     height: 80vh;    
 
 }
 .shopped-items{
     background-color: rgb(233, 238, 239);
     /* border-radius: 5%;    */
     
 }
 .items-container{
     height: 75vh;
     overflow-y: scroll;
 }
 .product-info{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-left: 5%;
     margin-right: 5%;
 }
 .item-img img{
     padding-top: 5%;
     width: 150px;
     height: 20vh;
 }
 
 .quantity input{
     width: 15%;
     height: 2.5vh;
     text-align: center;
 }
 .quantity button{
     width: 10%;
     cursor: pointer;
 }
 .save-later-btn{
     height: 3vh;
     width: 100%;
     border-radius: 5%;
     color: blue;
 }
 .total{
     float: right;
     margin-right: 30px;
     padding-bottom: 10%;
 }
 .total h4{
     font-size: 25px;
 }
 .place-order-btn{
     width: 100%;
     text-align: center;
     background-color: chocolate;
 
 }