
.footer-section{
    background-color: black;
    /* height: 50vh; */
}
.sub-sections{
    color:white;
    font-size: 15px;
    display: flex;
    justify-content:space-around;
    
}
.about-section a{
    text-decoration: none;
    color: azure;
}
.help-section a{
    text-decoration: none;
    color: azure;
}
.social-section a{
    text-decoration: none;
    color: azure;
}
.address-section a{
    text-decoration: none;
    color: azure;
}
.sub-footer{
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: space-around;
}
.sub-footer a{
    /* color: rgb(41, 210, 210); */
    text-decoration: none;
    /* font-style: italic; */
    /* font-size: 20px; */
    
}
.sub-footer p{
    color: rgb(118, 247, 116);
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
}
