*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  nav{
    background-color:#36454F;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
  }
  nav .brand{
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    padding-left: 10px;
  }
  nav ul{
    display: flex;
    list-style: none;
    margin: auto 0;
    gap:15px;


  }
  .fcshop{
    padding-top: 5px;
      }

  .search_bar{
    display: flex;
    margin: auto 0;
    border-radius: 10px;
  }

  nav .search_bar input{
    border: none;
    outline: none;
    height: 30px;
    padding: 0 10px;
    font-size: 15px;
    width: 500px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

.search_icon{
    z-index: 1;
    height: 30px;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.loginbutton{
    background-color:#D2042D;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
.basket{
  z-index: 1;
  height: 30px;
  width: 50px;
  color: rgb(203, 226, 29);  
}
.counter{
  color: rgb(246, 242, 242);
  width: 50px;
  height: 30px;
  padding-bottom: 20px;
  margin-left: 0%;
 margin-bottom: 50px;
}

.hearticon{
  margin-left:10px;
   color: red;
   height: 30px;
   width: 30px;
   z-index: 1;
 }

.heart{
  height: 30px;
  width: 45px;
  z-index: 1;
  color: red;

}
