.list{
    background:white;
    display: flex;
    justify-content:space-around;
}
.images{
    width: 80px;
    height: 60px;
}

.elements{
    width: 70px;
    height: 100px;
    padding-top:10px;

}

.products-button{
    background-color:red;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
