.list{
    background:white;
    display: flex;
    justify-content:space-around;
}
.images{
    width: 60px;
    height: 60px;
}

.elements{
    width: 70px;
    height: 100px;
    padding-top:10px;
}

.products-buttonn{
    border: 0px;
    background-color: white;

}