
* {
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
  }

/* * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  } */

  
  .product-container {
    display: flex;
    gap: 4px;

    /* justify-content:space-between; */

    justify-content: space-between;

    border: 4px solid #e2e4e8;
    padding: 12px;
    flex-wrap: wrap;
    height: 380px;
    border-radius: 5px;
    overflow: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
  
    /* Hide the scrollbar */
  }
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  
  .img {
    width: 180px;
  
    height: 230px;
    object-fit: contain;
    /* border: 2px solid rgb(100, 99, 99); */
    border-radius: 5px;
  }
  
  .info {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    line-height: 1.7;
  }
  
  .product-heading {
    margin: 30px 20px;
  }
  
  .everything {
    width: 270px;
    /* width: auto; */
    height: 200px;
    display: block;
    margin: 20px 0px;
  }
  
  .sticky {
    /* border: 1px solid rgb(56, 56, 56); */
    display: block;
    text-align: center;
    height: 360px;
    background-color: white;
    line-height: 2;
    border-radius: 5px;
  }
  
  .images {
    display: flex;
  }
  
  .btn {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(53, 53, 255);
    color: white;
    font-weight: bold;
    border: none;
  }
  
  .btn:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 255);
  }

