.main_container{
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 450px;
    border-radius: 15px;
    background: linear-gradient(rgb(159, 224, 218),rgb(198, 127, 237));
}
 .main_container h1{
    text-align: center;
    padding-top: 20px;
   border-bottom: 1px solid silver;
}
.main_container form{
    padding: 0 40px;
    box-sizing: border-box;
}
/* .textfield{
    position: relative;
    margin: 30px 0;
} */
/* .textfield input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    background-color: aliceblue;
}
.textfield label{
    position: absolute;
    top: 50%;
    left:5px;
    color: #1f1c1c;
    transform: translateY(-70%);
    font-size: 16px;
    transition: .3s;
}

.textfieldspan::before{
    content:" ";
    position: absolute;
    top:40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
}

.textfield input:focus ~label,
.textfield input:valid ~label{
   top: -5px;
   color:#0c0c0c; 
} 

.textfield input:focus ~span::before,
.textfield input:valid ~span::before {
   width: 100%;

} */
/* .forgetpass{
    margin: -5px 0 20px 5px;
    color: #151414;
     cursor: pointer;
}  
.forgetpass:hover{
    text-decoration: underline;
} */
.signup{
    width: 100%;
    height: 50px;
    border:0px solid;
    background:#63d3ea ;
    border-radius: 5px;
    font-size: 20px;
    color:#0e0e0e ;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
.signup:disabled{
    background-color: gray !important;
}
.signup:hover{
    background-color: antiquewhite;
}
.signuplink{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color:#262121;
}
.signup_link a{
    color:#2691d9;
    text-decoration: none;

}
.signup_link a:hover{
text-decoration: underline;
}
.sign{
    margin-left: 5px;
}