.product-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:800px;
  text-align: center;
  border: 20px;
  background-color: #e2e4e8;
  block-size: 700px;
}

.left-container {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin-right: 2rem;
text-align: center;
display:inline-block;
/* position: fixed; */
}


.all_buttons{
display:flex;
/* justify-content: space-between; */
margin-top:5rem;
}

.cart_button{
height: 30px;
width: 150px;
padding: 5px;
font-size: 15px;
border-radius:10px;
margin-left: 8px;
border: 2px solid rgb(201, 109, 109);
}

.product_block{
display: block;
margin-bottom: 20px;
}

.main_image {
margin-bottom: 5rem;
/* padding: 10px; */
height:350px;
width: 500px;
}

.image-gallery {
display:flex;
justify-content:space-evenly;
cursor: pointer;
margin-top: 20px;
} 

.image-gallery img{
width:100px;
height:100px;
padding: 10px;
}

.image-gallery img:hover{
transform: scale(1.2);
}

.block{
display: block;
margin-bottom: 20px;
}

.main_Image{
margin-bottom: 1rem;
height:350px;
width: 500px;
}

.image-gallery {
display:flex;
justify-content:space-evenly;

} 

.wd-wishlist-btn span{
font-size: 0;
}

.right-container{
display: flex;
flex-direction: column;
align-items: flex-start;
margin-right: 2rem;
height: 550px;
width:500px;
line-height: 3rem;
font-size: 1.5rem;
}

.select-size{
border-radius: 10px;
border: 1.5px solid rgb(201, 109, 109);
font-size: 15px;
padding: 3px;
margin-left: 10px;
text-align:center;
}

.size-container-block{
align-items: start;
padding: 5px;
font-size: 1.3rem;
}

.quantity-container-block{
/* display: flex; */
margin-top: 20px;
font-size: 1.3rem;
}

.description{
text-align: justify;
line-height: 2rem;
font-size: 1.2rem;
margin-top: 30px;
}
