*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Yourgrocery{
    width:1515px;
    height:500px;
}

.main-div{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 8px;
}

.image-container{
    height:300px;
    width: 250px;
    background-color:aquamarine

}